process {
    withName: '.*:CLINVAR:*' {
        publishDir = [
            enabled: false
        ]
    }
    withName: '.*:CLINVAR:BCFTOOLS_ANNOTATE_RENAME_CLINVAR_CHRS' {
        ext.prefix = { "${meta.id}_renamed" }
        ext.args = '--output-type z --write-index=tbi'
    }
    withName: '.*:CLINVAR:BCFTOOLS_ANNOTATE_RENAME_CLINVAR_CHRS' {
        ext.prefix = { "${meta.id}_annotate" }
        publishDir = [
            enabled: false
        ]
    }
    withName: '.*:CLINVAR:VCFEXPRESS_ADD_CLNVID' {
        ext.args = '--set-expression "CLNVID=return variant.id"'
        ext.prefix = { "grch38_clinvar_${params.clinvar_version}_renamed_reformatted" }
        publishDir = [
            path: { "${params.outdir}/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: '.*:CLINVAR:TABIX_TABIX' {
        publishDir = [
            path: { "${params.outdir}/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}