/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {
    withName: 'BCFTOOLS_ANNOTATE_RENAME_CLINVAR_CHRS' {
        ext.prefix = { "${meta.id}_renamed" }
        ext.args = '--output-type z --write-index=tbi'
    }
    //withName: 'VCFEXPRESS_ADD_CLNVID' {
        //ext.args = '--set-expression "CLNVID=return variant.id'
    //}
    withName: 'GUNZIP|BCFTOOLS_VIEW_CADD_SNVS' {
        publishDir = [
            path: { "${params.outdir}/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: 'WGET_CADD_INDELS' {
        publishDir = [
            path: { "${params.outdir}/prescored/GRCh38_v1.6/no_anno" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: 'WGET_GENERAL' {
        publishDir = [
            path: { "${params.outdir}/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: 'BCFTOOLS_ANNOTATE_RENAME_CLINVAR_CHRS' {
        ext.prefix = { "${meta.id}_annotate" }
        publishDir = [
            enabled: false
        ]
    }
    withName: 'VCFEXPRESS_ADD_CLNVID' {
        ext.prefix = { "grch38_clinvar_${params.clinvar_version}_renamed_reformatted" }
        publishDir = [
            path: { "${params.outdir}/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: 'TABIX_TABIX' {
        publishDir = [
            path: { "${params.outdir}/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: 'DOWNLOAD_GNOMAD_SNVS' {
        ext.args = '--output-type b --write-index'
    }
    withName: 'DOWNLOAD_GNOMAD_SVS' {
        ext.args = '--output-type z --write-index=tbi'
    }
    withName: 'UNTAR_VEP_CACHE' {
        ext.prefix = "vep_cache"
    }
    withName: 'UNTAR_CADD_ANNOTATIONS' {
        ext.prefix = "annotations"
    }
    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]
}
