/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {
    withName: 'GUNZIP|BCFTOOLS_VIEW_CADD_SNVS' {
        publishDir = [
            path: { "${params.outdir}/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: 'WGET_CADD_INDELS' {
        publishDir = [
            path: { "${params.outdir}/prescored/GRCh38_v1.6/no_anno" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: 'WGET_GENERAL' {
        publishDir = [
            path: { "${params.outdir}/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: 'BCFTOOLS_VIEW_GNOMAD_SVS' {
        ext.prefix = 'gnomad.v4.1.sv.sites.no_cnv'
        ext.args = [
            '-i \'ALT!="<CNV>"\'',
            '--output-type z',
            '--no-version'
        ].join(' ')
        publishDir = [
            path: { "${params.outdir}/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: 'ECHTVAR_ENCODE' {
        publishDir = [
            path: { "${params.outdir}/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: 'CADD2VCF' {
        publishDir = [
            enabled: false
        ]
    }
    withName: 'UNTAR_VEP_CACHE' {
        ext.prefix = "homo_sapiens${params.vep_cache_type == 'merged' ? '_merged' : '' }"
        publishDir = [
            path: { "${params.outdir}/vep_cache/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ] 
    }
    withName: 'UNTAR_CADD_ANNOTATIONS' {
        ext.prefix = "GRCh38_v1.6"
        publishDir = [
            path: { "${params.outdir}/CADD-scripts/data/annotations" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]
}
